* {
    margin: 0; 
    padding: 0; 
}

@font-face {
	font-family: 'Montserrat';
	src: url(Montserrat-MediumItalic.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Aware';
	src: url(AwareBold-qZo3x.ttf);
	font-weight: normal;
	font-style: normal;
}


html,
body {
	height: 100%; 
	padding: 0px; 
	margin: 0px; 
	background: url(img/background.png) no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
	-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: 100%; /* Opera 9.6+ */
	background-size: 100% 100%; /* Современные браузеры */
	background-attachment: fixed;
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: black;
}

.header {
	text-align:center;
	padding: 20px; 
	margin: 20px; 
    height: 30%;
	background: #00000000; 
	border: 2px solid #e81e2500; 
	flex: 0 0 auto;	
	color: white;
    font-family: 'Aware', sans-serif;
    font-size: 30px;
}

.content {
	padding: 20px; 
	margin: 20px;
    margin-top: 0;
	color: white; 
	flex: 1 0 auto; 
	font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}


.content-menu {
    padding: 0px;
    margin-left: 20px;
    width: 15%;
    color: white;
    flex: 1 0 auto; 
	font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    float: right;
}

.footer {
	text-align:center;
	padding: 20px; 
	margin: 0px; 
    background: #e5d3bd00; 
    border: 2px solid #e81e2500; 
	flex: 0 0 auto; 
	color: rgb(36, 36, 36);
	font-family: 'Montserrat', sans-serif;
}

h1 {
	margin-left: 45px;
    margin-bottom: 0;

}

.text {
    margin-left: 0px;
    margin-top: 0;
    display: inline;
    font-size: 16px;
}

a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    align-items: center;
    text-align: left;
    letter-spacing: 0.02em;
    color: #3FD7F6;
    text-decoration: none;
    position: relative;
	display: inline-block;
}

p {
    margin-top: 0;
}

.content-text {
    padding: 10px;
}

/* Графические объекты */ 

.line {
    margin-top: 0;
}

.rectangle {
    margin-top: 0;
    margin-right: 0;
    margin-left: 20px;
    margin-bottom: 0;
    height: 15px;
    display: inline;
}

.header-imgage {
    height: 50px;
}


svg{
    flex-shrink: 0;
    float: right;
}


/* Списки */ 

#social-media {
    list-style-position: inside;
    list-style-type: none;
    padding-left: 20px;
}

#social-media li {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    position: relative; 
    margin-left: 75px;
}

#social-media li:before {
    content: ""; 
    position: absolute; 
    left: -20px; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 6px; 
    height: 6px; 
    background-color: white; 
    border-radius: 50%; 
}

/* Кнопки */



.active {
    color: #ffffff;
    background: #3FD7F6;
    opacity: 1;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

nav, li{
    margin-left: 40px;
}