* {
    margin: 0; 
    padding: 0; 
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Raleway&family=Rubik+Iso&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Pangolin&family=Raleway&family=Rubik+Iso&display=swap');

@font-face {
	font-family: 'Montserrat';
	src: url(Montserrat-MediumItalic.ttf);
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Aware';
	src: url(AwareBold-qZo3x.ttf);
	font-weight: normal;
	font-style: normal;
}


html,
body {
	height: 100%; 
	padding: 0px; 
	margin: 0px; 
	background: url(img/background1.png) no-repeat;
	-moz-background-size: 100%; /* Firefox 3.6+ */
	-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
	-o-background-size: 100%; /* Opera 9.6+ */
	background-size: 100% 100%; /* Современные браузеры */
	background-attachment: fixed;
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: black;
}

.header {
	text-align:center;
	padding: 20px; 
	margin: 20px; 
    height: 30%;
	background: #00000000; 
	border: 2px solid #e81e2500; 
	flex: 0 0 auto;	
	color: white;
    font-family: 'Aware', sans-serif;
    font-size: 30px;
}

.content {
	padding: 20px; 
	margin: 20px;
    margin-top: 0;
	color: white; 
	flex: 1 0 auto; 
	font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    display: flex;
    justify-content: space-between;
}


.content-menu {
    padding: 0px;
    margin-left: 20px;
    width: 15%;
    color: white;
    flex: 1 0 auto; 
	font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    float: right;
}

.footer {
	text-align:center;
	padding: 20px; 
	margin: 0px; 
    background: #e5d3bd00; 
    border: 2px solid #e81e2500; 
	flex: 0 0 auto; 
	color: rgb(255, 255, 255);
	font-family: 'Pangolin', cursive;
    line-height: 300%;
}

h1 {
	margin-left: 45px;
    margin-bottom: 0;

}

.text {
    margin-left: 0px;
    margin-top: 0;
    display: inline;
    font-size: 16px;
}

a {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    align-items: center;
    text-align: left;
    letter-spacing: 0.02em;
    color: #f63fe7;
    text-decoration: none;
    position: relative;
	display: inline-block;
}

p {
    margin-top: 0;
}

.content-text {
    padding: 10px;
}

/* Графические объекты */ 

.rectangle {
    margin-top: 0;
    margin-right: 5px;
    margin-left: 20px;
    margin-bottom: 0;
    height: 15px;
    display: inline;
}

.header-imgage {
    height: 100px;
}


svg{
    flex-shrink: 0;
    float: right;
}


/* Списки */ 

#social-media {
    list-style-position: inside;
    list-style-type: none;
    padding-left: 20px;
}

#social-media li {
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    position: relative; 
    margin-left: 75px;
}

#social-media li:before {
    content: ""; 
    position: absolute; 
    left: -20px; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 6px; 
    height: 6px; 
    background-color: white; 
    border-radius: 50%; 
}

nav, li{
    margin-left: 40px;
}


/* Кнопки */



.active {
    color: #ffffff;
    background: #f63fde;
    opacity: 1;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
}

.flag {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

/* Таблица */

table {
	border-collapse: collapse;
	width: 1500px;
	color: rgba(255, 255, 255, 0);
	font-size: 20px;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #dddddd00;
	color: white;
	font-size: 20px;
}

th {
	background-color: #f2f2f200;
	color: white;
	font-size: 20px;
}

/* Раздел "Новости" */

.news-bg {
    border-radius: 15px;
    width: 1500px;
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin: 15px;
    text-align: left;
}

.news-text{
    font-family: "Montserrat", normal;
	font-size: 25px;
    width: 1100px;
    padding: 15px;
    color: rgb(85, 82, 82);
    display:inline-block;
}

.news-image {
    display: inline-block;
    height: 300px;
    margin: 20px;
    width: 300px;
}

/* Фреймы/Формы */

iframe, form {
	text-align:center;
	padding: 20px; 
	margin: 0px; 
	background: #e5d3bd00; 
	border: 2px solid #e81e2500; 
	flex: 0 0 auto; 
	color: white;
	font-family: 'Aware', normal;
	line-height: 350%;
}